* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fffcf7;
}

header {
  background-color: #708c69;
  padding: 0px 20px;
  height: 80px;
  position: fixed;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.menu img {
  width: 50px;
}

.logo img {
  width: 80px;
  height: 73px;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 3px solid #000000;
  border-radius: 30px;
  overflow: hidden;
  height: 43px;
  width: 300px;
  background-color: white;
  padding: 2px;
}

.search-bar input {
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  outline: none;
  flex-grow: 1;
  border-radius: 30px 0 0 30px;
}

.search-bar button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50px;
  max-height: 50px;
}

.search-bar button img {
  width: 25px;
  height: 25px;
  filter: invert(15%) sepia(45%) saturate(400%) hue-rotate(10deg);
}

.search-bar button:hoover {
  background-color: #f0f0f0;
}

.social-icons img {
  width: 35px;
  margin-left: 0px;
}

nav ul li {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43px;
}

#login-btn {
  background-color: white;
  color: #000000;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

#login-btn:hover {
  background-color: #f0f0f0;
}

li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  padding-left: 20px;
  font-size: 22px;
}

.idea {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #708c69;
}

.idea-text h1 {
  font-size: 65px;
  font-weight: bold;
  padding-bottom: 10px;
}

.idea-text p {
  font-size: 33px;
  margin-top: 10px;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(4px);
}
