* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, Arial;
  background-color: #fffcf7;
}

header {
  background-color: transparent;
  padding: 0px 20px;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.menu img {
  width: 50px;
}

.logo img {
  width: 80px;
  height: 73px;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 3px solid #000000;
  border-radius: 30px;
  overflow: hidden;
  height: 43px;
  width: 300px;
  background-color: white;
  padding: 2px;
}

.search-bar input {
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  outline: none;
  flex-grow: 1;
  border-radius: 30px 0 0 30px;
}

.search-bar button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar button img {
  width: 25px;
  height: 25px;
}

.search-bar button:hover {
  background-color: #f0f0f0;
}

.social-icons img {
  width: 35px;
  margin-left: 0px;
}

nav ul li {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43px;
}

#login-btn {
  background-color: white;
  color: #000000;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

#login-btn:hover {
  background-color: #f0f0f0;
}

.modal-login-icon {
  position: absolute;
  left: 500px;
  top: 7.4cm;
}

.modal-login-icon img {
  width: 190px;
  height: auto;
}

.login-content,
.register-content {
  width: 300px;
  display: block;
  margin-left: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  border-radius: 10px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-content button {
  background-color: #708c69;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.modal-content button:hover {
  background-color: #567653;
}

.custom-control {
  margin-top: 5px;
  margin-bottom: 15px;
}

.custom-control-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

input[type="checkbox"] {
  margin: 0px;
}

.left,
.right {
  display: flex;
  align-items: center;
}
.left label {
  margin-left: 5px;
}

.modal-footer {
  display: block;
  padding-bottom: 15px;
  padding-top: 20px;
  text-align: center;
  align-items: center;
}
.modal-footer-text {
  font-size: 16px;
  font-weight: 400;
}

li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  padding-left: 20px;
  font-size: 22px;
}

.idea {
  background-image: url("images/background_cat.jpg");
  background-size: 100%;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000;
  position: relative;
}

.idea::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(5px);
}

.idea-text h1 {
  font-size: 65px;
  font-weight: bold;
  padding-bottom: 10px;
  position: relative;
  z-index: 1;
}

.idea-text p {
  font-size: 33px;
  margin-top: 10px;
  position: relative;
  z-index: 1;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(4px);
}
